---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Button from "@components/common/Button.astro";
import "@assets/index.scss";
import Navbar from "@components/menus/Navbar.astro";
import LearnMoreButton from "@components/common/LearnMoreButton.astro";
import Hero from "@components/Hero.astro";
import MainFeatures from "@components/MainFeatures.astro";
import Frameworks from "@components/Frameworks.astro";
import Categories from "@components/Categories.astro";
import Speed from "@components/Speed.astro";
---

<Layout title="Welcome to Astro.">
  <Navbar />

  <div class="max-w-7xl mx-auto w-full">
    <Hero />
    <MainFeatures />
    <Speed />
    <Categories />
    <Frameworks />
  </div>
</Layout>
