---

---

<div class="text-center">
  <h1 class="text-6xl max-w-4xl mx-auto w-full font-medium mt-10">
    One frontend architecture with endless possibilities
  </h1>

  <p class="font-light max-w-2xl text-2xl mx-auto mt-5 text-gray-300">
    Step into the future with <a
      class="text-white border-b border-b-white"
      href="">Islands</a
    >
    — Astro's next-gen frontend architecture. Supercharge your development with automatic
    JS-to-HTML streaming and a beloved developer experience.
  </p>

  <div
    class="w-full flex items-start justify-center gap-10 text-start mt-10 max-w-6xl mx-auto"
  >
    <div class="bg-[rgb(34,39,45)] border border-gray-800">
      <img src="images/mainFeatureImage1.webp" alt="" />

      <div class="p-3">
        <h3 class="text-3xl">Web applications & APIs</h3>

        <p class="font-light mt-3">
          Fetch data from your
          <a
            class="hover:opacity-50 transition-all text-white border-b border-b-white"
            href="">CMS</a
          >
          or work locally with
          <a
            class="hover:opacity-50 transition-all text-white border-b border-b-white"
            href=""
            >type-safe Markdown and MDX
          </a> APIs. Astro automatically removes unused JavaScript and renders to
          HTML for better core web vitals, conversion rates and SEO.
        </p>
      </div>
    </div>

    <div class="bg-[rgb(34,39,45)] border border-gray-800">
      <img src="images/mainFeatureImage2.webp" alt="" />

      <div class="p-3">
        <h3 class="text-3xl">Content-first websites</h3>

        <p class="font-light mt-3">
          Build and embed powerful
          <a
            class="hover:opacity-50 transition-all text-white border-b border-b-white"
            href=""
          >
            client-side web applications
          </a>
          (SPAs, PWAs) when you need them. Align your backend APIs and frontend code
          together in the same Astro codebase. Author in React, Svelte, Vue, and
          more.
        </p>
      </div>
    </div>
  </div>
</div>
