---
import ChevronRight from "astro-heroicons/mini/ChevronRight.astro";
---

<button
  class="flex mx-auto items-center gap-2 justify-between text-sm rounded-full text-white hover:opacity-70 transition-all"
>
  <span
    class="bg-gradient-to-tr rounded-full px-2 pl-3 from-[#d83333] z-10 to-[#f041ff] py-1 border border-[#f041ff]"
    >Astro 4.1 just released!</span
  >
  <p
    class="py-1 flex border border-gray-500 relative right-10 rounded-full pl-10 z-0 items-center justify-center pr-2"
  >
    <span>Learn more</span>
    <ChevronRight class="w-5" />
  </p>
</button>
